<!DOCTYPE html>
<html lang="en">

{% extends 'carviewer/base.html' %}
{% load static %}
{% block content %}


    <html>
    <head>
        <meta charset="UTF-8">
        <title>CarViewer Website</title>
    </head>
    <body class="bodylist">


    <div class="row">
        <h2>CarBrands Information</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover w-auto">
            <thead>
            <tr class="bg-info">
                <th>Car Brand Name</th>
                <th>Car Year</th>
                <th>Car Image</th>

            </tr>
            </thead>
            <tbody>
            {% for carbrand in carbrands %}
                <tr>
                    <td>{{ carbrand.car_brand }}</td>
                    <td>{{ carbrand.car_year }}</td>
                <td>{{ carbrand.car_image }}</td>
                    <td>

                           <img src="{% if carbrand.car_image %}{{ carbrand.car_image.url }}{% else %}{% static "images/Reviews.png" %}{% endif %}" alt="New Image">

                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


    </body>
    </html>
{% endblock %}

</html>
