<!DOCTYPE html>
<html lang="en">
{% extends 'carviewer/base.html' %}
{% block content %}

    <html>
    <head>
        <meta charset="UTF-8">
        <title>CarViewer Website</title>
    </head>
    <body class="bodylist">

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Welcome!</div>
            <div class="panel-body">
                CarViewer Websites Services, Find the right Car For You!.
            </div>
        </div>
    </div>
    <div class="row">
        <h2>CarModels Information</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover w-auto">
            <thead>
            <tr class="bg-info">
                <th>Car Brand Name</th>
               <th>Car Year</th>
                <th>Model Name</th>
                <th>Car BodyType</th>
                <th>Car FuelType</th>
               <th>Car Transmissions</th>
               <th>Car Price</th>
                <th>Car Mileage</th>

                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for carmodel in carmodels %}
                <tr>
                    <td>{{ carmodel.car_brand }}</td>
                   <td>{{ carmodel.car_year }}</td>
                   <td>{{ carmodel.model_name }}</td>
                    <td>{{ carmodel.car_bodytype }}</td>
                   <td>{{ carmodel.car_fueltype }}</td>
                   <td>{{ carmodel.car_transmission }}</td>
                   <td>${{ carmodel.car_price }}</td>
                   <td>{{ carmodel.car_mileage }}</td>

                    <td><a href="{% url 'carviewer:carmodel_edit' pk=carmodel.pk %}"
                           class="btn btn-warning">Edit</a></td>
                    <td><a href="{% url 'carviewer:carmodel_delete' pk=carmodel.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>
                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div>
        <a href="{% url 'carviewer:carmodel_new' %}"><span
                class="btn btn-primary">Add CarModels</span></a>
    </div>

    </body>
    </html>
{% endblock %}

</html>
