<!DOCTYPE html>
<html lang="en">
{% extends 'carviewer/base.html' %}
{% block content %}

    <html>
    <head>
        <meta charset="UTF-8">
        <title>CarViewer Website</title>
    </head>
    <body class="bodylist">

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Welcome!</div>
            <div class="panel-body">
                CarViewer Websites Services, Find the right Car For You!.
            </div>
        </div>
    </div>
    <div class="row">
        <h2>CarModels Information</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover w-auto">
            <thead>
            <tr class="bg-info">
                <th>Car Brand Name</th>
                <th>Car Year</th>
                <th>Model Name</th>
                <th>Car Image</th>
                <th>Car BodyType</th>
                <th>Car FuelType</th>
                <th>Car Transmissions</th>
                <th>Car Price</th>
                <th>Car Mileage</th>


            </tr>
            </thead>
            <tbody>
            {% for carmodel in carmodels %}
                <tr>
                    <td>{{ carmodel.car_brand }}</td>
                    <td>{{ carmodel.car_year }}</td>
                    <td>{{ carmodel.model_name }}</td>
                    <td>{{ carmodel.car_image }}</td>
                    <td>{{ carmodel.car_bodytype }}</td>
                    <td>{{ carmodel.car_fueltype }}</td>
                    <td>{{ carmodel.car_transmission }}</td>
                    <td>${{ carmodel.car_price }}</td>
                    <td>{{ carmodel.car_mileage }}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


    </body>
    </html>
{% endblock %}

</html>
