<!DOCTYPE html>
<html lang="en">
{% extends 'carviewer/base.html' %}
{% block content %}

    <html>
    <head>
        <meta charset="UTF-8">
        <title>CarViewer Website</title>
    </head>
    <body class="bodylist">

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Welcome!</div>
            <div class="panel-body">
                CarViewer Websites Services, Find the right Car For You!.
            </div>
        </div>
    </div>
    <div class="row">
        <h2>CarReviews Information</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover w-auto">
            <thead>
            <tr class="bg-info">
                <th>Car Brand Name</th>
               <th>Model Name</th>
                <th>Car Year</th>
                <th>Car BodyType</th>
                <th>Car Expert Review</th>
               <th>Car User Review</th>
                <th>Car Overall Review</th>

                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for carreview in carreviews %}
                <tr>
                    <td>{{ carreview.car_brand }}</td>
                   <td>{{ carreview.car_year }}</td>
                   <td>{{ carreview.model_name }}</td>
                    <td>{{ carreview.car_bodytype }}</td>
                    <td>{{ carreview.car_expert_review }}</td>
                   <td>{{ carreview.car_user_review }}</td>
                   <td>{{ carreview.car_overall_review }}</td>

                    <td><a href="{% url 'carviewer:carreview_edit' pk=carreview.pk %}"
                           class="btn btn-warning">Edit</a></td>
                    <td><a href="{% url 'carviewer:carreview_delete' pk=carreview.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>
                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div>
        <a href="{% url 'carviewer:carreview_new' %}"><span
                class="btn btn-primary">Add CarReviews</span></a>
    </div>

    </body>
    </html>
{% endblock %}

</html>
